.admin-dashboard-container {
  padding: 30px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #ffffff;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chart-section {
  display: flex;
  gap: 30px;
}

.chart-card {
  background: #fff;
  padding: 20px;
  width: 45%;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
